@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "satoshi";
  src: url("../../public/fonts/Satoshi-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "satoshi-bold";
  src: url("../../public/fonts/Satoshi-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "switzer";
  src: url("../../public/fonts/Switzer-ExtralightItalic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

html {
  scroll-behavior: smooth;
}
